body {
    font-family: 'Inter', sans-serif;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000999; 
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000999;
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}
